/* HEADER */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-header {
  background-color: #2c2d3a;
}

.contact-header h2 {
  color: #fff;
  padding: 18px 48px;
}

.creditos {
  font-size: 14px;
  
  color: rgba(255, 255, 255, 0.584);

  margin-left: 16px;
}

/* HEADER */

/* Add contact element */
.add-contact-container {
  width: 50%;
  margin: 16px;
  padding: 0px 48px;
  display: inline-block;
  border-right: 1px solid #A6A9B7;
  
}

.add-contact-title {
  padding-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
}


.contact-form-label {
  display: inline-block;
  font-size: 25px;
  width: 100%;
  margin: 12px 0px;
  color: #A6A9B7;
}

.contact-form-input {
  display: block;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;

  height: calc(1.5rem + .75rem + 2px);

  font-size: 1rem;
  color: #A6A9B7;
  font-weight: 400;

  padding: .375rem .75rem;
}

.contact-form-input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.contact-form-input::placeholder {
  color: #ced4da;
}

.contact-form-button {
  margin-top: 14px;
  padding: .5rem 1.2rem;
  font-size: 1.25rem;
  background-color: #2c2d3a;
  color: white;
  
  border: none;
  border-radius: .3rem;

  cursor: pointer;
}

/* Add contact element */

/* Contact card */
.contact-list {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 79px;
}

.contact-card {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;

  margin-bottom: 24px;
}

.contact-card-info {
  padding: 20px;
  width: 400px;
  display: inline-block;

  position: relative;
  top: -5px;
}

.contact-card-name {
 margin-bottom: 8px;

 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 color: #A6A9B7;

 font-weight: 800;
 font-size: 18px;
}

.contact-card-email {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #A6A9B7;

}

.contact-card-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 10px;

  position: relative;
  top: 12px;
}

.material-icons {
  font-size: 28px;
  padding-right: 20px;

  vertical-align: super;

  cursor: pointer;

} 



